{:deps {org.clojure/clojurescript {:mvn/version "1.11.121"}
        town.lilac/pyramid {:mvn/version "3.4.0"}
        com.wsscode/pathom3 {:mvn/version "2023.08.22-alpha"}}
 :paths ["src/main"]
 :aliases {:build {:extra-paths ["src/build"]}
           :test {:extra-paths ["src/test"]}
           :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.37.1"}
                                cider/piggieback {:mvn/version "0.5.3"}}}
           :shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.5"}}}}}

;clj -M:cider:test:shadow-cljs -m shadow.cljs.devtools.cli server
